@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

input[type] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

body {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: Noto Sans;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E5E5E5;
}
